
    <div class="cover">
      <div class="background-image-fixed cover-image" style="background-image : url('http://applebaummd.com/appleblog/wp-content/uploads/2012/07/beachbody-surgical2banner-iStock_000015978333Small.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center dimmer">
            <h2 class="text-center">Lose Up To</h2>
            <h1 style="color:#3498db;"><b>One Pound</b> <br>of Fat A <b>Day</b></h1>
            <h1 style = 'color: #2ecc71'><em>Naturally</em></h1><h3>Giveaway by Accent Global</h3><br>
             <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                  <a href="http://accent.global/?post_type=ks_giveaway&p=390&preview=true"><button type="submit" class="btn btn-info btn-lg" style="text-align:center; width:100%">Go To Giveaway Page</button></a>
                </div>
              </div>
            <br><br>
            <hr>
            <h3 style='color:grey'>About The Program</h3><br>
            <p>We offer a simple yet Advanced System that promotes a safe, natural approach to weight loss that is based on eating 'REAL FOODS'. Unlike most programs that focus on supressing the appetite and limiting food intake, we will coach you on what foods to eat that will optimize nutrition intake and promote fat-burning while restricting those foods that quickly turn to fat. <br>Our program builds a lifestyle around good, healthy eating habits. 80% of your battle comes from proper nutrition. We give you the tools you need.<br><br>
              <span style="color:grey">NO Surgery<br>NO Prescription Drugs or Harmful Hormones<br>NO Pre-packed Foods<br> NOT an Exercise Program</p>
<br><br>

<h3 style="color:grey">Why the Giveaway?</h3><br>
<p> Why in the world are we giving away this awesome program? We just launched in Atlanta (check us out here), we love the ATL and we want everyone to have the chance to use the program, because we're just as amazed at the result as you're soon to be.</p>
  <br><br><br>
<h3 style="color:grey">Results</h3><br>
<table>
  <tr>
    <td><img style ='height:250px;padding-right:20px;' src="http://i.imgur.com/s2nTvSG.png"></td>
    <td><img style ='height:250px;' src="http://i.imgur.com/HnmeO9Z.png"></td>
  </tr>
  </table>
<br><br>
              <h3 style='color:grey'>What's Included In Our World Class Program</h3><br>
              <ul style="text-align:left; font-size:20px">
                <li>Advanced Supplementation that both complements a diet and acts as a catalyst in getting you to your goal weight much faster.</li>
                <li>A step by step process to insure great results a well as an exit strategy to get you to your goal and KEEP YOU THERE.</li>
                <li> One of our trained Alternative Medicine doctor mentors</li>
                <li>Our complete online guide to maximize weight loss and extra tips to keep it off </li>
                <li>A journal to keep track of your progress</li>
                <li> Our prized winning SMS service support and forums</li>
                <li> Discounts to our other programs</li>
                <li> The entire program </li>
                
              </ul>

<br><br><h3 style='color:grey'> Can't Wait? </h3><br>
            <p>You can reveive the program for a limited time for <em style="color:blue">less than the price of a cup of coffee a day.</em><br>
            </p>
           
              
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                  <button type="submit" class="btn btn-warning btn-lg" style="text-align:center; width:100%">Get Instant Access!</button>
                </div>
              </div>
            <br><br>
            <br>
            <br>
            <br><br>
            
          </div>
        </div>
      </div>
    </div>
  